* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", serif;
}

.dNone {
  display: none !important;
}

.content {
  min-height: 100vh;
  background-color: blue;
}

header {
  height: 100px;
  background-color: var(--header-bg-color);
}

.headerContent {
  width: 100%;
  max-width: 1440px !important;
  padding: 0 !important;
}

.pokeballImg {
  height: 40px;
}

h1 {
  color: white;
  margin-bottom: 0 !important;
}
.searchInput {
  height: 100% !important;
  width: 300px;
}

#warning {
  color: #ef233c;
  margin-bottom: 0 !important;
}

main {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

.pokemonContent {
  max-width: 1440px !important;
  background-color: var(--main-bg-color);
}
