* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", serif;
}

.dNone {
  display: none !important;
}

.content {
  min-height: 100vh;
  background-color: blue;
}

header {
  height: 100px;
  background-color: var(--header-bg-color);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px !important;
  padding: 0 !important;
  margin: 0 auto;
}

.pokeballImg {
  height: 40px;
}

h1 {
  color: white;
  margin-bottom: 0 !important;
}
.searchInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px !important;
  width: 300px;
  padding-top: 20px;
}

.searchWarning {
  height: 20px;
}

#warning {
  color: #ef233c;
  margin-bottom: 0 !important;
}

main {
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

.pokemonContent {
  max-width: 1440px !important;
  background-color: var(--main-bg-color);
}

.searchErrorMessage {
  color: white;
  text-align: center;
}

@media (max-width: 1450px) {
  .headerContent {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }
}

@media (max-width: 630px) {
  .headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  .searchInput {
    padding-top: 0;
    height: 40px !important;
  }
}
