:root {
  --header-bg-color: #082129;
  --da-red: #f15e51;
  --main-bg-color: #05171e;
  --book-bg-color: #0d3240;
  --text-color: #edf3f8;
  --divider-color: #417c92;
  --water: #90e0ef;
  --fire: #ee6b64;
  --grass: #b2ff9e;
  --poison: #cbb2fe;
  --electric: #eeefa8;
  --bug: #ddb892;
  --normal: #ced4da;
  --psychic: #cdb4db;
  --ground: #d17b3d;
  --fairy: #fa7ddf;
  --fighting: #fad27d;
  --rock: #a2a4a7;
  --dragon: #6392a3;
  --cardText: #535252;
  --ice: #75e3f7;
}

.fire {
  background-color: var(--fire);
}

.water {
  background-color: var(--water);
}

.grass {
  background-color: var(--grass);
}

.poison {
  background-color: var(--poison);
}

.electric {
  background-color: var(--electric);
}

.bug {
  background-color: var(--bug);
}

.normal {
  background-color: var(--normal);
}

.psychic {
  background-color: var(--psychic);
}

.ground {
  background-color: var(--ground);
}

.fairy {
  background-color: var(--fairy);
}

.fighting {
  background-color: var(--fighting);
}

.rock {
  background-color: var(--rock);
}

.ghost {
  background-color: rgb(212, 167, 167);
}

.dragon {
  background-color: var(--dragon);
}

.ice {
  background-color: var(--ice);
}
