.pokemonCard {
  width: 300px !important;
  cursor: pointer;
}

.pokemonCard:hover {
  filter: drop-shadow(0 0 20px rgb(248, 246, 246));
}

.pokemonImg img {
  width: 250px !important;
}

.pokemonImg img:hover {
  filter: drop-shadow(0 0 50px rgb(248, 246, 246));
}

.cardHead h5 {
  font-weight: 600;
  color: var(--cardText);
  font-size: 24px;
}

.cardBody {
  height: 80px !important;
}

.type {
  border: 3px solid var(--cardText);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  text-align: center;
  color: var(--cardText);
  font-weight: 500;
}
